.footerbottom {
    background-color: #303030;
    position: relative;
    z-index: 1;
  }
  
  .signup-btn {
    color: white;
    background-color: #303030;
    padding: 0.5rem 1rem;
    border: 2px solid #154bb1;
  }
  
  .followus {
    font-weight: 700;
    font-size: 1.5rem;
    color: #154bb1;
  }