@use './variables' as *;

.footerbottom {
    background-color: $darker;
    position: relative;
    z-index: 1;

    li {
      padding-right: 1rem;
    }
}
  
.signup-btn {
    color: white;
    background-color: $darker;
    padding: 0.5rem 1rem;
    border: 2px solid $primary;
}
  
.followus {
    font-weight: 700;
    font-size: 1.5rem;
    color: $primary;
    margin: 0;
}